*, *::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}
.container {
    width: 458px;
    margin: 0 auto;
    border: 1px solid;
    Background: #E5E5E5;
    font-size: 18px;
    position: relative;
}
.title,
 .subtitle {
    margin-top: 0;
}
.subtitle {
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search-section {
    padding: 2.813rem;

}
.search-field,
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar {
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 36px;
    padding: 0.25rem 0.5rem;

    overflow: hidden;
}
.filter-icon {
    padding-top: .5rem;
}
.search-field{
    gap: 21px;
}
input {
    border-radius: 36px 0 0 36px;
    border: 0;
    outline: 0;
    padding: 0.5rem 1rem;
}
.search-bar:focus {
    border: 1px solid #008AD8;
}

.search-icon {
    background: #FFFFFF;
    padding: 0.25rem;
}
.filter-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: transparent;
}
.filter-section {
    display: none;
    width: 16.063rem;
    height: 12.875rem;
    position: absolute;
        left: 40%;
        top: 18%;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 11px 18px 54px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    transition: display .3s ease-in-out;
}
.filter-list {
    padding: 1rem;
}
.filter-option {
    margin-bottom: 1.125rem;
}
.filter-option span {
    display: inline-block;
    margin-left: 1.25rem;
}
.filter-section:nth-of-type(4){
    margin-bottom: 0;
}
.table-head-row {
    display: none;
}

.car-details {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "model model"
        "location location"
        "price icon";
    padding: 1rem;
    margin: 1.688rem;
    align-items: center;

}
.car-details:hover {
    background: #FFFFFF;
    border-radius: 6px;
    transition: 30ms linear;
}
.card-model-name{
    margin: 0;
    grid-area: model;
}
.location {
    width: 50%;
    line-height: 1.3;
    color: #686868;
    grid-area: location;
    margin-bottom: 0;
}
.price {
    font-size: 1.5rem;
    Line-height: 23px;
    Line-height: 100%;
    grid-area: price;
}
.like {
    grid-area: icon;
    justify-self: end;
}
.card-model-name {
    font-size: 1.375rem;
    color: #008AD8;
}

@media (min-width: 1200px) {
    .container{
        width: 1300px ;
    }
    .search-section {
        display: flex ;
        justify-content: space-between;
    }

    .subtitle {
        margin-bottom: 0;
    }
    .search-field{
        align-self: end;
    }
    .filter-container {
        width: 90%;
    }
    .filter-section {
        left: 85%;
        top: 19%;
    }
    .table-head-row {
        width: 1200px;
        padding: 1rem 3rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: #008AD8;
        border-radius: 6px;
    }
    .table-content {
        padding: 1.5rem;
    }
    .card-model-name {
        width: 30%;
    }
    .car-details{
        display: flex;
        justify-content: start;
        gap: 50px;
        align-items: center;
    }

    .location {
        width: 20%;
        margin-top: 0;
    }
    .price{
        width: 20%;
        text-align: center;
    }
    .like {
        padding-left: 8rem;
    }
}
